.screenshot(data-id=screenshot._id ,data-timestamp=screenshot.timestamp)
  picture
    source(data-srcset=screenshot.pathMin, type='image/webp')
    source(data-srcset=screenshot.path, type='image/jpeg')
    img.lazy(data-src=screenshot.path)
  .description
    .header
      h2=screenshot.title
      span.date 
    p=screenshot.description
